@media screen and (max-width:800px)
{
    .header__inner  {
        flex-direction: column;
    }
    .header__logo{
        margin-bottom: 15px;
    }
    li a{
        margin: 0 15px;
        font-size: 17px;

    }
    .header__cart{
        display: none;
    }
    /*WELCOME*/
    .welcome__image{
        display: none;
    }
    .welcome__content{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    /*FEATURED*/
    .featured__items{
        flex-direction: column;
    }
    .person__inner{
        flex-direction: column;
        padding: 10px 0;
    }
    .person__image{
        display: none;
    }
    .person__content{
        width: 100%;
    }

    /**/
    .workshop__items{
        flex-direction: column;
    }
    .workshop__item{
        margin: 15px 25px;
    }
    .recent__items{
        flex-direction: column;
    }
    .recent__item{
        margin: 15px 25px;
    }
}